/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-dark {
  --font-family: "Inter-Variable", sans-serif;
  --second-family: "PressStart2P", "Fantasy", sans-serif;
  --font-normal: 465;
  --font-bold: 785;
  --font-size_L: 14px;
  --font-size_XL: 18px;
  --bg-color: #000;
  --accent-color: #00cc14;
  --mixed: #00cc14;
  --sparks: red;
  --background-image: 
    repeating-linear-gradient(90deg, #000, #000 2px, rgb(0 0 0 / 0) 2px, rgb(0 0 0 / 0) 4px),
    repeating-linear-gradient(180deg, #000, #000 2px, rgb(0 0 0 / 0) 2px, rgb(0 0 0 / 0) 4px),
    linear-gradient(180deg, #007f0c 0%, #004306 100%);
  --width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  --width-mobile: 100vw;
  --border: 2px solid #00cc14;
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-family: "Inter-Variable", sans-serif;
    --second-family: "PressStart2P", "Fantasy", sans-serif;
    --font-normal: 465;
    --font-bold: 785;
    --font-size_L: 14px;
    --font-size_XL: 18px;
    --bg-color: #000;
    --accent-color: #00cc14;
    --mixed: #00cc14;
    --sparks: red;
    --background-image: 
    repeating-linear-gradient(90deg, #000, #000 2px, rgb(0 0 0 / 0) 2px, rgb(0 0 0 / 0) 4px),
    repeating-linear-gradient(180deg, #000, #000 2px, rgb(0 0 0 / 0) 2px, rgb(0 0 0 / 0) 4px),
    linear-gradient(180deg, #007f0c 0%, #004306 100%);
    --width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
    --width-mobile: 100vw;
    --border: 2px solid #00cc14;
  }
}   

:root.theme-light {
  --font-family: "Inter-Variable", sans-serif;
  --second-family: "PressStart2P", "Fantasy", sans-serif;
  --font-normal: 400;
  --font-bold: 700;
  --font-size_L: 14px;
  --font-size_XL: 18px;
  --bg-color: #fff;
  --accent-color: #000;
  --mixed: #fff;
  --sparks: red;
  --background-image: 
    repeating-linear-gradient(90deg, #d3d3d3, #d3d3d3 2px, rgb(211 211 211 / 0) 2px, rgb(211 211 211 / 0) 4px),
    repeating-linear-gradient(180deg, #d3d3d3, #d3d3d3 2px, rgb(211 211 211 / 0) 2px, rgb(211 211 211 / 0) 4px),
    linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a 100%);
  --width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  --width-mobile: 100vw;
  --border: 2px solid #000;
}